@using MVC.OneToManyRealtions.Models;
@model Slider;
<div class="container shadow " style="max-width:700px;padding:50px;margin-bottom:50px;">
    <div>
        <h1>Create a Slide</h1>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="" class="form-label">Title</label>
            <input asp-for="Title" type="text" class="form-control">
            <span asp-validation-for="Title" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Description</label>
            <input asp-for="Description" type="text" class="form-control">
            <span asp-validation-for="Description" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Sub-Title</label>
            <input asp-for="SubTitle" type="text" class="form-control">
            <span asp-validation-for="SubTitle" style="color:red"></span>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Redirect-Url</label>
            <input asp-for="RedirectUrl" type="text" class="form-control">
            <span asp-validation-for="RedirectUrl" style="color:red"></span>
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Name</label>
            <input asp-for="Name" type="text" class="form-control">
            <span asp-validation-for="Name" style="color:red"></span>
        </div>

        <div class="mb-3">
            <label for="" class="form-label">ImgUrl</label>
            <input asp-for="Image" type="file" class="form-control">
            <span asp-validation-for="Image" style="color:red"></span>
        </div>

        <button type="submit" class="btn btn-primary w-25">Submit</button>
        <a  class="btn btn-success w-25" asp-action="Index" asp-controller="DashBoard">Back To Home</a>
    </form>
</div>