@using MVC.SliderFrontToBack.ViewModel;
@model HomeViewModel;
@{
    int counter = 0;
}

<div class="container-fluid ">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>About Info</h1>
        <a class="btn btn-success" style="width:100px;">Add</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.AboutCards)
            {
                counter++;
                <tr>
                    <th scope="row">@counter</th>
                    <td>@item.Title</td>
                    <td>@item.Desc</td>
                    <td>
                        <a class="btn btn-danger" style="width:100px;">Delete</a>
                        <a class="btn btn-primary" style="width:100px;">Update</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
